.container{
		display:block;
		width: 50%;
		margin: 10px 20px;
	}
		.chart{
			display: block;
			margin-top: 10px;
			height: 75%;
			width: 75%;
		}
		.chart rect {
		  fill: steelblue;
		}

		.chart text {
		  fill: white;
		  font: 10px sans-serif;
		  text-anchor: end;
		}